html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bitter', serif;
}

p{
    font-size: 1.2rem;
    padding: 1rem 0;
    color: gray;
}
.section-heading{
    color: rgb(61, 61, 61);
    font-weight: 600;
}

.main {
    margin-top: 115px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/**************************** navbar **************************/

.navLeft {
    height: 100%;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 83%, 50% 100%, 0 83%, 0 0);
    background: url(https://picsum.photos/200/300);
    background-repeat: no-repeat;
    background-size: cover; */


}

.nav-button {
    float: right;
    margin: 30px;
}

.sidenav {

    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 0;
   
}

.navbar-nav {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.nav-link{
    font-size: 1.2rem;
    transition: 0.4s ease;
}
.nav-link:hover{
    font-size: 1.4rem;
    transition: 0.4s ease;
}

.logo-img {
    width: 100px;
    height: 100px;
}

/******************************** first section *****************************/

#starting {
    height: 100vh;
    background-image: url(/images/Chamkaur\ Frame\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.heading {
    width: 60%;
    margin: auto;
}

.heading-inner {
    padding-top: 10rem;
}

.heading h1 {
    padding: 5rem 0;
    font-size: 70px;
    color: #fff;
}

.heading button {
    display: block;
    margin: 1rem 0 2rem;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    font-weight: 700;
    border: solid 2px #fff;
    color: #fff;
    transition: 0.4s ease;
}

.heading button:hover {

    background-color: #fff;
    font-weight: 700;
    border: solid 2px #fff;
    color: #000000
}

.heading-contact {
    color: #fff;
    font: 1.3rem sans-serif;
    transition: 0.4s ease;
   
}

.heading-contact:hover {
    color: gold;
    text-decoration: none;

}


/************************************* About me section ***************************************/
#aboutMe {
   
}

.aboutMe-grid {
    margin: 0;
}

.aboutMe-description {
    padding: 4rem;
}

.parts {
    padding: 2rem 0;
}

.aboutMe-photo {
    height: 400px;
    background-image: url(/images/Vancouver\ tower.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/************************************** Video services section *************************************/
#Video-services {
    text-align: center;
    margin-top: 7rem;
}

.service {
    padding: 2rem;
}

/************************************** Footer section *******************************************/

footer {
    text-align: center;
    margin-top: 9rem;
   
}
.footer-items{
    font-size: 1rem;
    margin:5px 0 5px 0;
    display: block;
}
.footer-last-1{
    display: block;
    float: left;
}
.footer-last-2{
    display: block;
    float: right;
}
.footer-div a{
color: goldenrod;

}
.footer-div a:hover{
    text-decoration: none;
    }


/********************************************* gallery.html **********************************************/
.gallery-row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.gallery-column img {
    vertical-align: middle;
    width: 100%;
    padding: 5px;
    transition: 0.5s ease;
}

.gallery-column a img:hover{
    z-index: 99;
    transform: scale(1.05); 
}



/* Responsive layout - makes a two column-layout instead of four columns*/
@media screen and (max-width: 992px) {
    h1 {
        font-size: 45px;
        color: #fff;
    }
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;

    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other  */
@media screen and (max-width: 600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;

    }
}











/********************* media query ******************/
@media (min-width: 992px) {

    .main {
        margin-top: 0;
        margin-left: 301px;
        /* Same as the width of the sidenav */
        padding: 0px 10px;
    }

    /********************** navbar ********************/
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

    .nav-div {
        background-color: cadetblue;
        position: relative;
        width: 300px;
    }

    .sidenav {
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .navLeft {
        text-align: center;
    }

    .logo-img {
        width: 200px;
        height: 200px;
    }

    /******************* about me section ***************/
    .aboutMe-photo {
        height: auto;


    }

    /**************************** galler.html page ***********************/
    .gallery-column {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        max-width: 25%;
    }

    .gallery-column img {
        vertical-align: middle;
        width: 100%;
    }

}